@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    font-family: Hanken Grotesk;
    transition: color .3s;
    padding: 0;
    margin: 0;
}

h1 {
    color: #303B59;
    text-align: center;
    padding: 20px;
    text-decoration: wavy;
}

ul {
    padding: 10px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

a {
    text-decoration: none;
    color: #303B59;
    font-weight: bold;
}

img {
    width: 100%;
}

div {
    text-align: center;
}

li {
    padding: 10px;
    border-radius: 10px;
    background-color: #ECF2FF;
    transition: all 0.3s;
}
li:hover{
    transform: scale(105%);
}

li:hover{
    background-color: antiquewhite;
}

@media (max-width: 600px) {
  ul {
    grid-template-columns: 1fr;
  }
}